@charset "UTF-8";

@font-face {
    font-family: 'Kumla-Regular';
    src: url('fonts/Kumla-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Kumla-Regular.otf') format('opentype'),
    url('fonts/Kumla-Regular.woff') format('woff'),
    url('fonts/Kumla-Regular.ttf') format('truetype'),
    url('fonts/Kumla-Regular.svg#Kumla-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, img, sub, sup,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
figure, figcaption, footer, header,
menu, nav, section, summary,
time, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
#root {
    position: relative;
    clear: both;
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
}
#content {
    color: #000000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
html {
    box-sizing: border-box;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
html, body {
    height: 100%;
}
*,
*:before,
*:after {
    outline: 0;
    box-sizing: inherit;
}
body {
    font-size: 16px;
    line-height: 1.428571;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input[type="radio"] {
    display: none;
}
label {
    display: block;
    position: absolute;
    cursor: pointer;
}
.screen__random {
    position: absolute;
    top: 14.63%;
    right: 0;
    left: 0;
    margin: auto;
    width: 859px;
    height: 75px;
    text-align: center;
    font-size: 35.5px;
    line-height: 1.2;
    font-family: 'Kumla-Regular';
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;
}
/*********************************************
 * asd framework
 *
 */
.asd-clear { clear: both; height: 0; font-size: 0 }
.asd-wrap { position: absolute; display: block; width: 100%; height: 100%; left: 0; top: 0; z-index: 0; overflow: hidden }
.asd-wrap-2 { position: absolute; display: block; width: auto; height: auto; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 0; overflow: hidden }
.asd-left { float: left }
.asd-right { float: right }
.asd-img { display: block; width: auto; height: auto }
.asd-img-fit { position: absolute; display: block; max-width: 100%; max-height: 100%; left: 0; right: 0; top: 0; bottom: 0; margin: auto }
.asd-img-width { display: block; width: 100%; height: auto }
.asd-img-height { display: block; width: auto; height: 100% }
.asd-img-crop-wrap { display: block; position: absolute; left: -450%; top: -450%; width: 1000%; height: 1000% }
.asd-img-crop { display: block; position: absolute; min-width: 10%; min-height: 10%; left: 0; top: 0; right: 0; bottom: 0; margin: auto }
.asd-bg-fit { background-size: contain; background-repeat: no-repeat; background-position: center center }
.asd-bg-crop { background-size: cover; background-repeat: no-repeat; background-position: center center }
.asd-text-center { white-space: nowrap; text-align: center }
.asd-text-center:before { position: relative; content: ''; display: inline-block; vertical-align: middle; height: 100% }
.asd-text-center > * { display: inline-block; vertical-align: middle; white-space: normal; text-align: center; font: inherit; line-height: inherit }
.asd-text-center-1 { display: table; width: 100%; height: 100%; font: inherit; position: relative }
.asd-text-center-2 { display: table-cell; text-align: center; vertical-align: middle; font: inherit; position: relative }
.asd-pos-center { position: absolute; display: block; left: 0; top: 0; right: 0; bottom: 0; margin: auto; z-index: 0 }
.asd-pos-top-center { position: absolute; display: block; top: 0; left: 0; right: 0; margin: 0 auto; z-index: 0 }
.asd-pos-bottom-center { position: absolute; display: block; bottom: 0; left: 0; right: 0; margin: 0 auto; z-index: 0 }
/*********************************************
 * `Gender` switcher
 *
 */

.select-gender {
    left: 12px;
    top: 40px;
    z-index: 100;
    width: 10vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: contain;
}
.select-gender--man {
    background-image: url(man_gender.png);
}
.select-gender--girl {
    background-image: url(girl_gender.png);
}
/*!!!!!!!!!!!!!!!!!!
#content .product {
  position: absolute;
  left: 42%;
  bottom: 0;
  z-index: 2;
  width: 306px;
  height: 484px;
  background-image: url(axe.png);
  background-position: 0 0;
}
*/

/*********************************************
 * `Water` or `girl/man`
 *
 */

.select-option {
    top: 56vh;
    width: 18.75%;
    height: 17.6%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.select-option--water {
    right: 50%;
    margin-right: 14%;
}
.select-option--partner {
    left: 50%;
    margin-left: 14%;
}
.for_man .select-option--water {
    background-image: url(man_water.png);
}
.for_man .select-option--partner {
    background-image: url(man_partner.png);
}
.for_girl .select-option--water {
    background-image: url(girl_water.png);
}
.for_girl .select-option--partner {
    background-image: url(girl_partner.png);
}
/*********************************************
 * `Поделиться`
 *
 */

.share-group {
    position: absolute;
    left: 21%;
    top: 26%;
    width: 55%;
    height: 61%;
}
.share-group__border {
}
.share-group__text {
}
/*********************************************
 * `Поделиться` button
 *
 */

.select-share {
    position: absolute;
    left: 34%;
    top: 73%;
    width: 393px;
    height: 190px;
}
/*********************************************
 * `Back` buttons
 *
 */

.select-circle {
    position: absolute;
    width: 9vw;
    height: 8vw;
    background-repeat: no-repeat;
    background-size: contain;
}
.select-circle--top {
    left: 6vw;
    top: 5vw;
    background-image: url(circle_top.png);
}
.select-circle--bottom {
    right: 11%;
    bottom: 6.5%;
    background-image: url(circle_bottom.png);
}
/*********************************************
 * Social buttons
 *
 */

.share-post {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vw;
    margin: auto;
    z-index: 3;
    width: 100%;
    text-align: center;
}
.share-post__text {
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
    color: #ffffff;
}
.share-post__link {
    display: inline-block;
    width: 8vw;
    height: 8vw;
    background-image: url(sharings.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.share-post__link:nth-child(2) {
    background-position: 0 0;
}
.share-post__link:nth-child(3) {
    background-position: 33.3% 0;
}
.share-post__link:nth-child(4) {
    background-position: 66.6% 0;
}
.share-post__link:nth-child(5) {
    margin-right: 0;
    background-position: 100% 0;
}
.share-post__link + .share-post__link {
    margin-left: -0.31vw;
}
.screen {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Kumla-Regular', sans-serif;
    overflow: auto;
    transition: all 1ms 300ms;
    transition-property: left, right, top, width;
}
.screen__bg {
    position: relative;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.screen--for_man,
.screen--for_girl {
    top: -150%;
}
#for_man:checked ~ .screen--for_man,
#for_girl:checked ~ .screen--for_girl {
    display: block;
    transition: top 300ms;
    top: 0;
    z-index: 0;
}
.screen--for_m_water,
.screen--for_m_partner,
.screen--for_m_share,
.screen--for_m_water_share {
    left: -100%;
}
#for_m_water:checked ~ .screen--for_m_water,
#for_m_partner:checked ~ .screen--for_m_partner,
#for_m_share:checked ~ .screen--for_m_share,
#for_m_water_share:checked ~ .screen--for_m_water_share {
    display: block;
    left: 0;
    z-index: 1;
    transition: left 300ms;
}
.screen--for_g_water,
.screen--for_g_partner,
.screen--for_g_share,
.screen--for_g_water_share {
    right: -100%;
}
#for_g_water:checked ~ .screen--for_g_water,
#for_g_partner:checked ~ .screen--for_g_partner,
#for_g_share:checked ~ .screen--for_g_share,
#for_g_water_share:checked ~ .screen--for_g_water_share {
    display: block;
    right: 0;
    z-index: 1;
    transition: right 300ms;
}

.top {
    padding-top: 43px;
    height: 103px
}

.content {
    position: absolute;
    top: 103px;
    right: 0;
    left: 0;
    bottom: 0;

    font-size: 16px;
}

.b_valign {
    display: table;
    width: 100%;
    height: 100%;
}

.b_valign .share-post {
    position: relative;
    top: auto;
    bottom: auto;

    margin: 5em 0 0;
}

.b_valign .share-post__text {
    margin: 0;
}

.b_valign .share-post__link {
    width: 4vw;
    height: 4vw;
}

.b_valign-cont {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.logo {
    width: 66px;
    height: 32px;
    margin: 7px auto 12px;

    background: url(logo.png);
    background-size: 100% 100%;
}

.logo-sign {
    font-size: 14px;
    line-height: 16px;
    color: #ff3f3c;
}

.logo-sign.is-secondary {
    color: white;
    font-size: 1em;
    line-height: 1.333em;
    letter-spacing: 0.06em
}

.heading {
    transform: skew(-7.5deg) rotate(-7.5deg);
    color: white;

    display: inline-block;
    padding: 2em 2em 1em;

    font-size: 3.125em;
    line-height: 0.9em;
    letter-spacing: -0.12em
}

.heading.is-bordered {
    padding-bottom: 2em;
    border: 2px solid white;
}

.heading.is-bordered.is-hashtagged {
    padding-bottom: 1.2em;
    line-height: 1.2em;
}

.unrotate {
    transform: skew(7.5deg) rotate(7.5deg);
}

.heading.is-bordered .hashtag {
    display: block;
    margin-top: 0.8em;

    font-size: .8em;
    font-weight: normal;
}

.heading.is-bordered + .button {
    transform: skew(-7.5deg) rotate(-7.5deg) translateY(-50%);

    display: table;
    margin: 0 auto;

    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.button-set {
    padding: 3.125em 0;
}

.button-set .button {
    margin: 0 10%;
}

.button {
    transition: background .2s ease;
    transform: skew(-7.5deg) rotate(-7.5deg);

    position: relative;
    display: inline-block;
    padding: 0.64em 1.6em;

    color: white;
    font-size: 1.5625em;
    line-height: 1em;
    text-shadow: 1px 1px #000;

    background: #2b182e;
    background: rgba(43, 24, 46, 0.9);
}

@media screen and (max-height: 660px) {
    .content {
        font-size: 13px;
    }
}

@media screen and (max-height: 560px) {
    .content {
        font-size: 12px;
    }
    .heading.is-bordered {
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    }
}

@media screen and (max-height: 400px) {
    .content {
        font-size: 10px;
    }
}

.button:hover {
    background: #be91a6;
    background: rgba(190, 145, 166, 0.9);
}

.screen--for_man .screen__bg {
    background-image: url(man_start.jpg);
    background-size: cover;
    background-position: center;
}
.screen--for_m_water .screen__bg {
    background-image: url(man_water.jpg);
    background-size: cover;
    background-position: center;
}
.screen--for_m_water_share .screen__bg {
    background-image: url(man_water_share.jpg);
}
.screen--for_m_partner .screen__bg {
    background-image: url(man_partner.jpg);
}
.screen--for_m_share .screen__bg {
    background-image: url(man_partner_share.jpg);
}
.screen--for_girl .screen__bg {
    background-image: url(girl_start.jpg);
}
.screen--for_g_water .screen__bg {
    background-image: url(girl_water.jpg);
}
.screen--for_g_water_share .screen__bg {
    background-image: url(girl_water_share.jpg);
}
.screen--for_g_partner .screen__bg {
    background-image: url(girl_partner.jpg);
}
.screen--for_g_share .screen__bg {
    background-image: url(girl_partner_share.jpg);
}
/*********************************************
 *
 * Media queries
 *
 ********************************************/

@media screen and (max-width: 1440px) {
    .screen__random {
        width: 761px;
        height: 75px;
        font-size: 26.5px;
        line-height: 1.2;
    }
    .select-option {
        top: 50%;
    }
    .select-circle--bottom {
        right: 7.5%;
        bottom: 3%;
        z-index: 1;
    }
    .select-circle--top {
        left: 6vw;
        top: 4vw;
        z-index: 1;
    }
}
@media screen and (max-width: 1280px) {
    .screen__random {
        width: 500px;
        height: 75px;
        font-size: 20.5px;
        line-height: 1.2;
    }
    .select-share {
        position: absolute;
        left: 34%;
        top: 73%;
        width: 267px;
        height: 179px;
        background-size: 100% 100%;
    }
}
/*********************************************
 * iPad mini, iPad 1, iPad 2,    iPad 3, iPad 4
 *
 *  resolution: 768 x 1024    resolution: 1536 x 2048
 */

/* Portrait ----------- */
@media screen and (max-width: 1024px) and (orientation: portrait) {
    .screen__random {
    }
    .select-gender--man {
        background-image: url(man_gender_ipad.png);
    }
    .select-gender--girl {
        background-image: url(girl_gender_ipad.png);
    }
    .select-option {
        top: 42%;
        width: 37.75%;
        height: 17.6%;
    }
    .select-option--water {
        right: 42%;
    }
    .select-option--partner {
        left: 42%;
        top: 40%;
    }
    .share-group {
        left: 6%;
        top: 26%;
        width: 87%;
        height: 61%;
    }
    .screen--for_m_water .select-share,
    .screen--for_g_water .select-share {
        left: 31%;
        top: 72%;
        width: 259px;
        height: 217px;
    }
    .screen--for_m_partner .select-share,
    .screen--for_g_partner .select-share {
        left: 32%;
        top: 52%;
        width: 303px;
        height: 179px;
    }
    .share-post {
        bottom: 53%;
    }
    .select-circle {
        width: 73px;
        height: 73px;
    }
    .select-circle--top {
        left: 3.5%;
        top: 7%;
        background-image: url(circle_top_ipad.png);
    }
    .select-circle--bottom {
        right: 7%;
        bottom: 6.5%;
        background-image: url(circle_bottom_ipad.png);
    }
    .screen--for_man .screen__bg {
        background-image: url(man_start_ipad.jpg);
    }
    .screen--for_m_water .screen__bg {
        background-image: url(man_water_6plus.jpg);
    }
    .screen--for_m_water_share .screen__bg {
        background-image: url(girl_water_share_ipad.jpg);
    }
    .screen--for_m_partner .screen__bg {
        background-image: url(man_partner_ipad.jpg);
    }
    .screen--for_m_share .screen__bg {
        background-image: url(man_partner_share_ipad.jpg);
    }
    .screen--for_girl .screen__bg {
        background-image: url(girl_start_ipad.jpg);
    }
    .screen--for_g_water .screen__bg {
        background-image: url(girl_water.jpg);
    }
    .screen--for_g_water_share .screen__bg {
        background-image: url(girl_water_share_ipad.jpg);
    }
    .screen--for_g_partner .screen__bg {
        background-image: url(girl_partner_ipad.jpg);
    }
    .screen--for_g_share .screen__bg {
        background-image: url(girl_partner_share_ipad.jpg);
    }
}
/* Landscape ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .select-circle {
        width: 73px;
        height: 73px;
    }
    .select-circle--top {
        left: 6vw;
        top: 4vw;
        background-image: url(circle_top_ipad.png);
    }
    .select-circle--bottom {
        right: 12%;
        bottom: 6.5%;
        background-image: url(circle_bottom_ipad.png);
    }
    .select-share {
        width: 216px;
        height: 128px;
    }
    .share-post {
        bottom: 4%;
    }
}
@media screen and (max-width: 992px) and (orientation: portrait) {

}
@media screen and (max-width: 992px) and (orientation: landscape) {
    .select-share {
        width: 186px;
        height: 98px;
    }
}
@media screen and (max-width: 800px) and (orientation: portrait) {
    .select-circle {
        width: 73px;
        height: 73px;
    }
    /*
      .select-circle--top {
        left: 9.5%;
        top: 7%;
        background-image: url(circle_top_ipad.png);
      }

      .select-circle--bottom {
        right: 5%;
        bottom: 6.5%;
        background-image: url(circle_bottom_ipad.png);
      }*/
}
@media screen and (max-width: 800px) and (orientation: landscape) {
    .select-circle {
        width: 73px;
        height: 73px;
    }
    .select-circle--top {
        left: 6.5%;
        top: 7%;
        background-image: url(circle_top_ipad.png);
    }
    .select-circle--bottom {
        right: 12%;
        bottom: 6.5%;
        background-image: url(circle_bottom_ipad.png);
    }
    .select-share {
        width: 186px;
        height: 98px;
    }
}
/*********************************************
 * iPhone 6+
 *
 * resolution: 1242 x 2208
 */

/* Portrait ----------- */

@media screen and (min-width: 414px) and (max-width: 450px) and (orientation: portrait) {
    .select-gender {
        left: 2.4%;
        top: 2.3%;
        width: 149px;
        height: 66px;
    }
    .select-gender--man {
        background-image: url(man_gender_ipad.png);
    }
    .select-gender--girl {
        background-image: url(girl_gender_ipad.png);
    }
    .screen__random {
        width: 350px;
        height: 75px;
        font-size: 14.5px;
        line-height: 1.2;
    }
    .select-circle {
        width: 45px;
        height: 45px;
    }
    .screen--.for_m_water .select-share,
    .screen--for_g_water .select-share {
        left: 31%;
        top: 74%;
        width: 158px;
        height: 144px;
    }
    .screen--for_m_partner .select-share,
    .screen--for_g_partner .select-share {
        left: 32%;
        top: 52%;
        width: 167px;
        height: 112px;
    }
    .share-post {
        bottom: 49%;
        width: 291px;
    }
    .share-post__text {
        margin-bottom: 5%;
        font-size: 21px;
    }
    .share-post__link {
        margin-right: 8px;
        width: 58px;
        height: 55px;
        background-image: url(share_icons_phone.png);
        background-repeat: no-repeat;
    }
    .share-post__link:nth-child(2) {
        background-position: -8px -13px;
    }
    .share-post__link:nth-child(3) {
        background-position: -80px -13px;
    }
    .share-post__link:nth-child(4) {
        background-position: -143px -13px;
    }
    .share-post__link:nth-child(5) {
        margin-right: 0;
        background-position: -215px -13px;
    }
}
@media screen and (min-width: 414px) and (max-width: 450px) and (orientation: landscape) {
    .select-gender {
        left: 4.4%;
    }
    .screen--for_m_water_share .screen__bg {
        background-image: url(girl_water_share_ipad.jpg);
    }
    .screen--for_m_share .screen__bg {
        background-image: url(man_partner_share_ipad.jpg);
    }
    .screen--for_g_water_share .screen__bg {
        background-image: url(girl_water_share_ipad.jpg);
    }
    .screen--for_g_share .screen__bg {
        background-image: url(girl_partner_share_ipad.jpg);
    }
}
/*********************************************
 * iPhone 6
 *
 * resolution: 750 x 1334
 */

/* Portrait ----------- */

@media screen and (max-width: 400px) {
    .select-gender {
        left: 2.4%;
        top: 1.3%;
        width: 104px;
        height: 57px;
    }
    .select-gender--man {
        background-image: url(man_gender_phone.png);
    }
    .select-gender--girl {
        background-image: url(girl_gender_phone.png);
    }
    .screen__random {
        width: 315px;
        height: 49px;
        font-size: 12.5px;
        line-height: 1.2;
    }
    .screen--for_m_partner .screen__random,
    .screen--for_g_partner .screen__random {
        top: 19.63%;
        width: 315px;
        height: 49px;
        font-size: 12.5px;
        line-height: 1.2;
    }
    .select-circle {
        width: 41px;
        height: 41px;
    }
    .select-circle--bottom {
        right: 5%;
        bottom: 5.5%;
    }
    .screen--for_m_water .select-share,
    .screen--for_g_water .select-share {
        left: 31%;
        top: 74%;
        width: 135px;
        height: 114px;
    }
    .screen--for_m_partner .select-share,
    .screen--for_g_partner .select-share {
        left: 29%;
        top: 75%;
        width: 167px;
        height: 112px;
    }
    .screen--for_m_partner .share-group,
    .screen--for_g_partner .share-group {
        height: 42%;
    }
    .share-post {
        bottom: 49%;
        width: 291px;
    }
    .share-post__text {
        margin-bottom: 5%;
        font-size: 21px;
    }
    .share-post__link {
        margin-right: 8px;
        width: 58px;
        height: 55px;
        background-image: url(share_icons_phone.png);
        background-repeat: no-repeat;
    }
    .share-post__link:nth-child(2) {
        background-position: -8px -13px;
    }
    .share-post__link:nth-child(3) {
        background-position: -80px -13px;
    }
    .share-post__link:nth-child(4) {
        background-position: -143px -13px;
    }
    .share-post__link:nth-child(5) {
        margin-right: 0;
        background-position: -215px -13px;
    }
}
@media screen and (max-width: 400px) and (orientation: landscape) {
    .screen--for_m_water_share .for_man .screen__bg {
        background-image: url(girl_water_share_ipad.jpg);
    }
    .screen--for_m_share .for_man .screen__bg {
        background-image: url(man_partner_share_ipad.jpg);
    }
    .screen--for_g_water_share .for_girl .screen__bg {
        background-image: url(girl_water_share_ipad.jpg);
    }
    .screen--for_g_share .for_girl .screen__bg {
        background-image: url(girl_partner_share_ipad.jpg);
    }
}












